.idea/
__pycache__/
blhx_raw/tmp
*.avi
outputs/
pr/
testimg/
venv
*.mp4
*.mkv
*.flv
*.FLV
*.psd
*.PSD
*tmp*
*azurlanePainting-*
py37/
.vs/
*.sin
*.tlog
*.log
*.obj
*.pdb
*.ilk
*.ipdb
*.vcxproj*
*.idb
*.sln
Release/
Debug/
README.*
!README.md
alpainting.exe
